.checkin-container {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 120px;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.checkin-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0);
  padding: 16px;
  border-radius: 12px;
  gap: 16px;
}

.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0;
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: #FF00F6 2px solid;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  max-width: 100%;
  margin-bottom: 5px;
  overscroll-behavior: none;
}

/* .days-grid > div:last-child {
  grid-column: 2;
} */

.streak-info {
  text-align: left;
  margin-bottom: 0;  
}

.streak-text {
  margin: 0;
  opacity: 0.8;
  width: 200px;
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.streak-days {
  margin: 4px 0;

  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.days-text {
  margin-left: 4px;
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.stats-container {
  display: flex;
  gap: 12px;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  border-radius: 8px;
  width: fit-content;
}

.stat {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat img {
  width: 20px;
  height: 20px;
}

.stat span {
  font-size: 14px;
  color: #ffffff;
}

.day-card {  
  border-radius: 16px;
  padding: 12px 8px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #212121;
}

.day-card.active {
  border: 1px solid #0000FF;
}

.day-card.inactive {
  opacity: 0.6;  
}

.day-number {
  margin-bottom: 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 4px;
}

.number-group {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.number {
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.suffix {
  margin-left: 2px;
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.label {
  margin-left: auto;
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.rewards {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reward {
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: italic;
}

.reward img {
  width: 20px;
  height: 20px;
}

.reward-text-checkin {
  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.okay-button-checkin {
  background: #0000FF;
  border: none;
  border-radius: 14px;
  padding: 16px;
  cursor: pointer;
  width: 100%;  
  max-width: 330px;
  height: 44px;
  margin: 10px auto 2px auto;
  justify-content: center;
  align-items: center;
  display: flex;

  color: #FFF;
  font-family: "PP Neue Machina";
  font-size: 14px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
}

.okay-button:hover {
  opacity: 0.9;
}

.checkmark-icon {
  position: absolute;
  bottom: -20px;
  left: 60%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 1;
  overflow: hidden;
}

.last-active .checkmark-icon {
  animation: checkmarkAppear 1s ease-out forwards;
}

@keyframes checkmarkAppear {
  0% {
    opacity: 1;
    transform: translateX(-50%) scale(5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
