@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainUltralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainUltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainSemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainSemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainUltrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainUltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Machina';
    src: url('./fonts/PPNeueMachina-PlainBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.back-button-alignment {
    width: 32px;
    height: 32px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 20px;
    z-index: 1001;
}

.back-button-alignment img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .single-star {
    position: absolute;
    width: 20px;
    height: 20px;
    background: none;
    animation: twinkle 2s infinite;
  }
  
  .single-star-1 {
    left: 81px;
    bottom: 0px;
    animation-delay: 0s;
  }
  
  .single-star-2 {
    left: 201px;
    bottom: 46px;
    animation-delay: 0.4s;
  }

  .single-star-3 {
    left: 236px;
    bottom: 164px;
    animation-delay: 0.8s;
  }

  .single-star-4 {
    left: 40px;
    bottom: 142px;
    animation-delay: 1.2s;
  }

  .single-star-5 {
    left: 101px;
    bottom: 185px;
    animation-delay: 1.6s;
  }
  
  @keyframes twinkle {
    0% {
      opacity: 0.2;
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.4))
              brightness(0.8);
    }
    50% {
      opacity: 1;
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8))
              drop-shadow(0 0 12px rgba(255, 255, 255, 0.4))
              brightness(1.4);
    }
    100% {
      opacity: 0.2;
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.4))
              brightness(0.8);
    }
  }