.tasks-content {
    flex: 1;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: calc(100vh);
    margin-top: 0;
    overscroll-behavior: none;
}

.tasks-inner-content {
    max-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}