/* .stats-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 60px;
    pointer-events: auto;
    box-sizing: border-box;
} */

.profile-pic {
    margin-left: 10px;
    flex-shrink: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #FF00F6 2px solid;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding-right: 12px;
    flex: 1;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: fit-content;
    font-style: italic;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.stat-item-text {
    color: #FFF;
    font-family: "PP Neue Machina";
    font-size: 16px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.stat-item img {
    width: 24px;
    height: 24px;
}

.tasks-inner-content {
    max-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.section-title {
    color: white;
    font-family: 'PP Neue Machina';
    font-style: italic;
    font-size: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.arrow {
    width: 16px;
    height: 16px;
    display: inline-block;
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-left: 4px;
}

.arrow.expanded {
    transform: rotate(90deg);
}

.tasks-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.tasks-list.expanded {
    max-height: unset;
}

.task-card {
    /* background: rgba(41, 41, 41, 0.8); */
    border: #46413F 1px solid;
    border-radius: 12px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.task-card.done {
    background: #292929;
}

.platform-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 12px;
    border: #46413F 2px solid;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    min-height: 48px;
    justify-content: space-between;
}

.task-title {
    color: white;
    font-family: "PP Neue Machina";
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.task-title.done {
    color: #83807F;
}

.task-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-bottom-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.task-reward {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.reward-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.reward-icon {
    opacity: 1;
    width: 20px;
    height: 20px;
}

.reward-icon.done {
    opacity: 0.6;
}

.reward-amount-task {
    color: #83807F;
    /* APP/Body/Strong/Body-M-Strong */
    font-family: "PP Neue Machina";
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
}

.task-deadline {
    /* color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: 'PPNeueMachina', sans-serif;
    font-style: italic;
    font-weight: 400; */
    
    margin-left: 12px;
    color: #FFF;
    
    /* text-shadow: 0px 4px 4px rgba(39, 132, 102, 0.25); */
    font-family: "PP Neue Machina";
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.task-deadline.done {
    color: #83807F;
}

.start-button {
    background: #0000FF;
    border: none;
    border-radius: 4px;
    padding: 0px 10px;
    cursor: pointer;
    transition: opacity 0.2s;
    height: 30px;
    align-self: center;

    color: #FFF;
    font-family: "PP Neue Machina";
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.start-button:hover {
    opacity: 0.9;
}

.start-button.done {
    background: transparent;
    border: 1px solid #C07BFF;
    color: #C07BFF;
    pointer-events: none;
}

.done-button {
    background: #464646;
    border: none;
    border-radius: 4px;
    color: #83807F;
    padding: 6px 12px;
    font-family: 'PPNeueMachina', sans-serif;
    font-style: italic;
    font-size: 14px;
    cursor: default;
    height: 30px;
    align-self: center;
    position: relative;
    /* padding-left: 32px; */
}

.done-button img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10px;
    top: -30px;
}